
.edit-event{
	.title{
		font-size: 24px;
		line-height: 100px;
	}
	.upload-picture{
	    border: 1px #eeeeee solid;
	    min-height: 170px;
	    width: 100%;
	}
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	.btn {
		border: 2px solid gray;
		color: gray;
		background-color: white;
		padding: 8px 20px;
		border-radius: 8px;
		cursor: pointer;
		font-size: 20px;
		font-weight: bold;
	}
}


.upload-btn-wrapper input[type=file] {
	cursor: pointer;
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}