.mainTitle {
    font-size: 2.8em;
    font-weight: 500;
    color: #6e8086;
    margin: 32px 0 0 70px;
    float: left;
}

.subTitle {
    font-size: 1.2em;
    font-weight: 300;
    color: #858585;
    margin: 55px 0 0 70px;
    float: left;
}

.subTitle-item {
    float: left;
}

.subTitle-item-mui {
    position: relative;
    top: -18px;
}

.apply-btn-year {
    font-size: 19px;
    font-weight: bolder;
    padding: 4px 8px;
    margin: 10px;
    border-radius: 10px;
    background: rgb(234, 176, 189);
    color: #fff6f2;
}

.groups {
    margin: 0 0 60px 0;
}

.groupBtn {
    margin: 30px;
    padding: 20px;
    background: #ececec;
    border-radius: 6px;
    border: 1px #dfdfdf solid;
    box-shadow: rgba(51, 51, 102, 0.3) 2px 1px 20px -2px;
}

.group-pic {
    width: 200px;
    height: 200px;
}

.groupYear {
    font-size: 1.2em;
    font-weight: 200;
    color: #575757;
}

.groupTitle {
    font-size: 2em;
    font-weight: 100;
    color: #575757;
}

.groupModify {
    margin: 10px 10px 5px 0;
    float: left;
}

.group-chip {
    margin: 5px !important;
}

.chipWrapper {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    display: block;
    height: 50px;
}