.filter {
    padding: 30px 15% 0 15%;
}


.filter-list {
    padding: 20px;
    margin: 0;
}

.filter-list input {
    line-height: 2;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.9;
    height: auto;
    padding-left: 18px;
    width: 98%;
}

