 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.Login {
    background: #EEEEEE;

}

.Login-header {
  margin: 0 0 0 0;
  padding: 0 0 0 13%;
  color:  #7B7B7B;
  height: 65vh;
}
.Login-login {
    text-align:center;
    margin: -7% 0 0 -15%;
 }

.Login-Choose {
    text-align:center;
    margin: 5% auto;
 }

#h11 {
  font-family: 'Noto Sans CJK TC';
  font-weight:  lighter;
  font-size: 27px;
  margin: 0 0 0 0;
}

 #h22 {
     font-family: 'Noto Sans CJK TC';
     font-weight:  400;
     font-size: 55px;
     margin: 0 0 0 0;
 }

#eng-title {
  height: 40%;
}

#ch-title {
  height: 35vh;
}


#AjustToggleButtom {
  height: 35vh;
}


#rectangle {
    margin: 11px 35px 0 0;
    width: 17px;
    height: 100px;
    background: #00AEAE;
    float: left;
}

/**/
 .example {
     width: 500px;
     display: flex;
     margin: 0 auto;
     font-family: Arial;
 }

 .example__guide {
     flex: 1;
     margin: auto;
     padding-right: 20px;
     line-height: 1.3;
 }

 .example__observer {
     width: 200px;
     height: 200px;
     margin: 0 auto;
     display: flex;
     position: relative;
     border: solid 1px #C5CAE9;
     border-radius: 4px;
     transition: border .2s ease-in-out;
 }

 .example__observer:hover {
     border-color: #3F51B5;
 }

 .example__label {
     width: 125px;
     margin: auto;
     white-space: nowrap;
 }

 .example__child {
     width: 100px;
     height: 50px;
     padding-top: 15px;
     box-sizing: border-box;
     position: absolute;
     top: 25px;
     left: 50px;
     background-color: #C5CAE9;
     transition: background .2s ease-in-out;
     border-radius: 4px;
     text-align: center
 }

 .example__child:hover {
     background-color: #3F51B5;
     color: white;
 }

 /**/


@media (max-width: 480px) {
    .Login-header {
      padding: 35vh 0 0 0;
      height: 60vh;
      text-align: center;
    }

    #rectangle {
      display: none;
    }

    #AjustToggleButtom {
    height: 0vh;
    background: #EEEEEE;
  }
    .Login-login {
        text-align:center;
        margin: -7% 0 0 0%;
    }
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 30px;
    }
}