.hover-info {
    position: absolute;
    z-index: 100;
    width: 500px;
    height: 100px;
    background: #DDD;
    opacity: 0.7;
    padding: 5px 7px 5px 7px;
    font-size: 2em;
    font-weight: 400;
}

.popovernote{
    z-index: 500;
}

.grad{
    margin: 0 1px 1px 1px;
    float: left;
}

.grad-popover{
    z-index: 1000;

}

.grad-btn{
    overflow: visible;
    border-radius: 2px;
    transition: background .25s ease-in-out;
    background-color: #616161;
}