.grad{
    margin: 0 1px 6px 1px;
    float: left;
    height: 32px;
}

.grad-popover{
    z-index: 1000;

}

.grad-btn{
    overflow: visible;
    border-radius: 2px;
    transition: background .25s ease-in-out;
    background-color: #616161;
}