.cell-text {
    vertical-align: top;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Times New Roman, 標楷體';
    font-size: 10pt;
    background-color: white;
}

.left-text {
    text-align: left;
}