.default-text{
    vertical-align: middle;
    text-align: center;
    color: #000000;
    font-family: 'Times New Roman, 標楷體';
    font-size: 8px;
}

.default-table, .default-table td {
    border-spacing: 0px;
    border-collapse:collapse;
    background-color: white;

}
.default-table td {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}
.default-table tr {
    height: 15px;
}
.bigger-row {
    height: 30px !important;
}

.borderLess, .borderLess td {
    border: 0px;
}

.title-text {
    font-size: 10px;
    font-weight: bold;
}

.left-text {
    text-align: left;
}

.no-height {
    height: 0px;
}

.bg-green {
    background-color: #CCFFCC !important;
}
.bg-yellow {
    background-color: #FFFF99 !important;
}
.bg-orange {
    background-color: #FFCC99 !important;
}

.personal-info {
    width: 25%;
    display: inline-block;
}

.col0 { width:7.7307% }
.col1 { width:39.1526% }
.col2 { width:3.2419% }
.col3 { width:3.2419% }
.col4 { width:3.2419% }
.col5 { width:3.2419% }
.col6 { width:3.2419% }
.col7 { width:3.2419% }
.col8 { width:3.2419% }
.col9 { width:3.2419% }
.col10 { width:3.7407% }
.col11 { width:3.7407% }
.col12 { width:19.701% }