.cell-text {
    vertical-align: top;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000 !important;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000 !important;
    color: #000000;
    font-family: 'Times New Roman, 標楷體';
    font-size: 10pt;
    background-color: white;
}

.left-text {
    text-align: left;
}

.no-height {
    height: 0px;
}

.col0 { width:7.7307% }
.col1 { width:39.1526% }
.col2 { width:3.2419% }
.col3 { width:3.2419% }
.col4 { width:3.2419% }
.col5 { width:3.2419% }
.col6 { width:3.2419% }
.col7 { width:3.2419% }
.col8 { width:3.2419% }
.col9 { width:3.2419% }
.col10 { width:3.7407% }
.col11 { width:3.7407% }
.col12 { width:19.701% }