
.rc-tabs-nav-container {
    font-size: 18px;
    text-align: center;
}

.rc-tabs-ink-bar {
    background-color: #378f88;
}

.rc-tabs-tab:hover {
    color: #378f88;
}
.rc-tabs-tab-active,
.rc-tabs-tab-active:hover {
    color: #378f88;
}

.rc-tabs-tab {
    box-sizing: border-box;
    position: relative;
    display: block;
    transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    padding: 8px 20px;
    font-weight: 500;
    cursor: pointer;
    width: 300px;
}

.rc-tabs-bar {
    padding: 10px 10% 0 15%;
}