@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
#printArea {
    display: none;
}

.dark-toast{
    background-color: black;
}

.font_adjust{
    background: #F5F5F5;
    height: auto;
    width: 100%;
    font-family: 'Noto Sans CJK TC';
}
@page{
    margin:25px;
}

@media print {

    /* Set body padding to header and footer */
    body{
        background: #fff !important;
        padding: 40px 0;;
    }
    #Head,
    footer {
        display: none;
    }
    #printArea {
        background: #fff;
        padding: 5px;
        height: auto;
        width: 100%;
        display: block;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
        position: absolute;
        left: 0;
        top: 0;
        text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

}

.fixed {
    position: fixed;
    bottom: 41px;
    right: 3px;
    z-index: 100;
}

.red{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #d93a64;
    float: left;
}

.green{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #3aa276;
    float: left;
}

.gray{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: gray;
    float: left;
}

.yellow{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #a29149;
    float: left;
}

.purple{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #6A94A2;
    float: left;
}

.blue{
    width: 10px;
    height: 10px;
    margin: 7px;
    background-color: #9e48d9;
    float: left;
}

.text{
    color: #7B7B7B;
    float: left;
    opacity: 0.8;
    font-family: 'Noto Sans CJK TC';
}

.tip{
    padding: 25px 0 0 50px;
    display: inline-block;
    width: 700px;
    height: 130px;
}

.grad-hover-info{
    position: absolute;
    z-index: 100;
    width: 100px;
    height: auto;
    background: #ddaa55;
    opacity: 0.7;
    padding: 5px 7px 5px 7px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Noto Sans CJK TC';
    border-radius:10px;
    border:2px #ccc193 solid;
}

.Grad-title-adjust{
    margin: 0;
    padding-top: 35px;
}

.Grad-title-text{
    margin: 0 0 0 5%;
    padding: 0px 10px 3px 65px;
    color: #7B7B7B;
    width: auto;
    height: 150px;
    font-size: 1.5em;
    float: left;
}

#lessons-little-title-grad{
    margin: 5.6% 0 0 20px;
    font-size: 1.5em;
    float: left;
}

.schedule-bar{
    height: 300px;
    width: 1400px;
    float: left;
    padding: 80px 0 0 5%;
}

.circle-progress{
    float: left;
    margin: 10px 0 0 0;
    width: 80px;
}


.circle-in{
    color: #7B7B7B;
    float: left;
    text-align: center;
    font-size: 28px;
    margin: 25px 0 -110px 9px;
}

.overview{
    margin:0 0 0 170px;
}

.showcourseoverview{
    color: #7B7B7B;
    margin: 4px;
    transition: background-color 0.5s;
    width: 250px;
    height: 50px;
    padding: 2px 2px 0 2px;
}


.showcourseoverview:hover{
    background-color: #8bdeb5;
    cursor: pointer;
    border-radius:10px;
    border:2px #ccc solid;
}

.overview-course{
    color: #3a7b69;
    float: left;
    margin: -5px 0 0 0;
    padding: 0 0 0 20px;
}

.Grad-Row{
    padding: 0 0% 0 5%;
    background: #F5F5F5;
    clear:both;
}

.little-title-title{
    height: 30px;
    width: 1000px;
    margin: 100px 0 10px 0;
}

.little-form{
    height: auto;
}

#little-title-number{
    color: #7B7B7B;
    margin: -30px 0 0 35px;
    font-size: 20px;
    float: left;
}

#little-title-text{
    color: #7B7B7B;
    margin: -27px 0 0 70px;
    font-size: 30px;
    float: left;
}


#graduate-footer{
    width: auto;
    height: 200px;
}

@media (max-width: 1440px) {
    .Grad-title-text{
        margin: 0 0 0 5px;
        padding: 20px 0 3px 30px;
        font-size: 1.2em;
        width: auto;
    }
    .tip{
        padding: 25px 0 0 50px;
    }
    .showcourseoverview{
        width: 220px;
        font-size: 12px;
     }
}

@media (max-width: 480px) {
    .font_adjust{
        background: #F5F5F5;
        height: auto;
        width: 1500px;
    }


    #lessons-little-title-grad{
        margin: 8px 0 0 10px;

    }

    .Grad-title-text{
        margin: 0 0 0 0;
        padding: 0px 10px 3px 65px;
        color: #7B7B7B;
        width: 500px;
        height: 100px;
        font-size: 1.5em;
        float: left;
    }

}