
.divide-horizontal {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #d2d2d2;
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.show-img {
	max-width:550px;
	height:inherit;
	/*width:expression(document.body.clientWidth&gt;550?"550px""auto");!*若圖片大於550px就調整*!*/
	overflow:hidden;      /*超過不顯示*/
}
