 @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.full-page {
    background: #EEEEEE;
    width: 100vw;
    height: 100vh;
}
 .live {
     overflow: hidden;
     padding: 0 0 0 2%;
     font-family:'Noto Sans CJK TC';
 }
 .live > li {
     list-style: none;
     position: relative;
     color: #c9c9c9;
     padding: 0 3em 0 2em;
     margin: 0 0 0 1%;
     -webkit-transition: .12s;
     transition: .12s;
 }
 .live > li::before {
     position: absolute;
     content: '\2022';
     font-family: Arial;
     color: #FFF;
     top: 0;
     left: 0;
     text-align: center;
     font-size: 2em;
     opacity: .5;
     line-height: .75;
     -webkit-transition: .5s;
     transition: .5s;
 }
 .live > li:hover {
     color: #ffffff;
 }
 .live > li:hover::before {
     -webkit-transform: scale(2);
     transform: scale(2);
     opacity: 1;
     text-shadow: 0 0 4px;
     -webkit-transition: .1s;
     transition: .1s;
 }
 .live.type2 > li::before {
     content: '';
     width: 10px;
     height: 10px;
     background: #FFF;
     border-radius: 3px;
     line-height: 0;
     top: .27em;
     left: 5px;
 }
 .live.type2 > li:hover::before {
     -webkit-transform: none;
     transform: none;
     border-radius: 5px;
     width: 25px;
     left: -10px;
     background: #BA5353;
 }

 .live.numbers {
     counter-reset: xxx 0;
 }
 .live.numbers > li::before {
     content: counter(xxx,decimal) ".";
     counter-increment: xxx 1;
     font-family: 'Roboto Condensed';
     font-size: 1em;
     opacity: .5;
     line-height: 1.4;
     -webkit-transition: .5s;
     transition: .5s;
 }
 .live.numbers > li:hover:before {
     opacity: 1;
     left: -10px;
     -webkit-transform: none;
     transform: none;
     text-shadow: none;
     -webkit-transition: .12s;
     transition: .12s;
 }
.Login-header {
    margin-top: 30vh;
    color: #7B7B7B;
    padding-left: 35px;
    border-left: 17px solid #00AEAE;
    height: 100px;
}
.Login-buttons {
    margin-top: 110px;
}

#eng-title {
    height: 40%;
    font-family: 'Noto Sans CJK TC';
    font-weight:  lighter;
    font-size: 27px;
    margin: 0 0 0 0;
    position: relative;
    top: -8px;
}

#ch-title {
    font-family: 'Noto Sans CJK TC';
    font-weight:  400;
    font-size: 55px;
    margin: 0 0 0 0;
    position: relative;
    top: -8px;
}

.login-btn {
    width: 30%;
    vertical-align: top;
}

.announce-btn {
    display: inline-block;
    margin-right: 8px;
}

@media (max-width: 767px) {
    .Login-header {
        padding-left: 17px;
        border-left: 12px solid #00AEAE;
        height: 50px;
    }
    .Login-buttons {
        margin-top: 30vh;
        text-align: center;
    }

    .announce-btn {
        width: 40%;
    }
    .login-btn {
        width: 40%;
    }

    #eng-title {
      font-size: 18px;
    }
    #ch-title {
      font-size: 30px;
    }
}