@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.map-box{
    padding: 0;
}

.image-map{
    max-width: 95vw;
    width: auto;
    padding-top: 51px;
}

.image-map-2{
    max-width: 95vw;
    width: auto;
    padding-top: 51px;
    max-height: 100vh;
 }

@media only screen and (max-width: 500px) {
    .image-map{
        width: 800px;
        max-width: none;
    }
}