
.title{
	font-size: 40px;
	line-height: 50px;
	color: #7B7B7B;
}
.upload-picture{
	border: 1px #eeeeee solid;
	min-height: 50px;
	width: 100%;
}

.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
}

.upload-btn-wrapper-btn {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
	cursor: pointer;
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}