body {
  font-family: 'Noto Sans CJK TC';
  background-color: #FCFCFC;
  margin: 0;
}
footer {
  	height: 20px;
  	padding: 8px 0px 8px 0px;
	font-size: 8px;
	color: #FCFCFC;
    background-color:#6C6C6C;
    text-align:center;
    font-family: 'Noto Sans CJK TC';
  	font-weight:  400;
    position: fixed;
    bottom: 0;

    width: 100%;
}

#id{
  height: 100vh;
}